<div *ngIf="doctorList.length == 0">
  <h3>no doctor found</h3>
</div>

<div *ngIf="doctorList.length != 0">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Doctor Name</th>
        <th scope="col">Doctor Email</th>
        <th scope="col">Doctor Experiance</th>
        <th scope="col">Doctor Age</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of doctorList">
        <th scope="row">{{d.dId}}</th>
        <td>{{d.dName}}</td>
        <td>{{d.dEmail}}</td>
        <td>{{d.dExp}}</td>
        <td>{{d.dAge}}</td>
        <td><button class="btn btn-primary" (click)="deleteDoctor(d.dId)">Delete</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a [routerLink]="['/editdoctor/', d.dId]" class="btn btn-primary">EDIT</a>
        </td>
        
      </tr>

    </tbody>
  </table>

  <div>