<div class="container">

   <!-- <app-menu></app-menu> -->
   <!-- <app-moviebar></app-moviebar> -->
   <!-- <app-doctor></app-doctor> -->
   <!-- <app-doc></app-doc>   -->
   <!-- <app-employee></app-employee>  -->
   <!-- <app-location></app-location> -->
   <!-- <app-adddoctor></app-adddoctor>
   <app-doctorlist></app-doctorlist> -->
   <!-- <app-pipedemo></app-pipedemo> -->
   <!-- <app-header></app-header>
   <router-outlet></router-outlet>
   <app-footer></app-footer> -->
   

   <!-- <app-routerdemo></app-routerdemo> -->
   <!-- <app-leftsidebar></app-leftsidebar> -->
   <!-- <app-child [inputFromParent]="student" (outputFromChild)="reciveDataFromChild($event)"></app-child>
   <h3>{{DataFromChild}}</h3> -->
   <router-outlet></router-outlet>
   


</div>