<h1>
  NAME = {{name}}
</h1>
<h2>
  Age = {{age}}
</h2>
<h3>
  Married :- {{isMarried}}
</h3>
<h4>
  StudentName :{{student.name}}
</h4>

<h4>
  StudentAge :{{student.age}}
</h4>

<h4>
  Student Matrial Status : {{student.isMarried}}
</h4>


<ul>
  <li>
    <h4>
      Employee name = {{employee.ename}}
    </h4>
  </li>
  
  <li>
    <h4>
      Employee salary  = {{employee.Salary}}
    </h4>
  </li>
  <li>
    <h4>
      Employee statuc  = {{employee.isActive}}
    </h4>
  </li>
</ul>
<div>
  <h1>SUBJECTS DETAILS</h1>
  
  <h2>SUBJECT NAME = {{subjects[0].name}}</h2>
  <h3>SUBJECT MARSK  = {{subjects[0].marks}}</h3>
  <h2>SUBJECT NAME = {{subjects[1].name}}</h2>
  <h3>SUBJECT MARSK  = {{subjects[1].marks}}</h3>
  <h2>SUBJECT NAME = {{subjects[2].name}}</h2>
  <h3>SUBJECT MARSK  = {{subjects[2].marks}}</h3>

</div>
<br>
<div>
  <h1>BUG LIST</h1>

      <ul>
        <li *ngFor = "let bug of bugs">
          
          <div *ngIf = "bug.isClosed == true">
          <h2>BUG NAME  = {{bug.name}}</h2>
          <h3>IS BUG CLOSED? = {{bug.isClosed}}</h3>
          <h4>bug Priority = {{bug.severity}}</h4>
        </div>
        </li>
      </ul>
</div>

<div>
  <h1>ACTORS</h1>
  <ul>
    <li *ngFor = "let a of actors">
      {{a}}
    </li>
  </ul>
</div>

<div *ngIf ="flag">
    <h1>CONDITION IS TRUE...</h1>
</div>

<div *ngIf = "age>25">
  <h1>AGE IS GREATER THAN 25</h1>
</div>




